<section class="u-padding-y-medium">
  <div class="row">

    {{#each events}}
      <div>
        <img
          srcset="{{this.attributes.Image.data.attributes.url}} {{this.attributes.Image.data.attributes.width}}w, {{getCloudinaryResize
            this.attributes.Image.data.attributes.url
            400
          }}, {{getCloudinaryResize
            this.attributes.Image.data.attributes.url
            850
          }}, {{getCloudinaryResize
            this.attributes.Image.data.attributes.url
            1500
          }}"
          sizes="(max-width: 900px) 100vw, 50vw"
          src="{{this.attributes.Image.data.attributes.url}}"
          alt=""
        />
        <h2>{{this.attributes.EventName}}</h2>
        {{{this.attributes.Description}}}
        <p>Date: {{formatDate this.attributes.StartDate}}</p>
        <p>Location: {{this.attributes.LocationName}}</p>
      </div>
    {{/each}}

    {{! Uncomment to log the events data }}
    {{!-- {{log events}} --}}

  </div>
</section>