<section class="u-padding-y-medium">
  <div class="row">

    {{#each events}}
      <div>
        <img
          src="{{this.attributes.Image.data.attributes.url}}"
          srcset="{{this.attributes.Image.data.attributes.url}} {{this.attributes.Image.data.attributes.width}}w
          }}, {{getCloudinaryResize
            this.attributes.Image.data.attributes.url
            400
          }}, {{getCloudinaryResize
            this.attributes.Image.data.attributes.url
            800
          }}, {{getCloudinaryResize
            this.attributes.Image.data.attributes.url
            1200
          }}"
          alt=""
          sizes="(max-width: 600px) 100vw, (max-width: 900px) 100vw, (max-width: 1800px) 50vw, 1200px"
        />
        <h2>{{this.attributes.EventName}}</h2>
        {{{this.attributes.Description}}}
        <p>Date: {{formatDate this.attributes.StartDate}}</p>
        <p>Location: {{this.attributes.LocationName}}</p>
      </div>
      {{log this.attributes.Image}}
    {{/each}}

    {{! Uncomment to log the events data }}
    {{!-- {{log events}} --}}

  </div>
</section>